In [1]:
# becoming a lead of data analysis for a gaming campany(analyze the recent games)

In [2]:
#import dependencies
import pandas as pd
import numpy as np

In [3]:
#read data from the csv file
purchase_data= "Resources/purchase_data.csv"
data_df = pd.read_csv(purchase_data)
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#calculate the total number of players 
describe_data = data_df.describe()
describe_data

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
Total_players = len(data_df['SN'].value_counts())
Total_players

576

In [7]:
#Create a df for the total player
total_player_df = pd.DataFrame([Total_players], columns=['Total Players'])
total_player_df

   Total Players
0            576

In [8]:
#purchasing Analysis
unique_items = len(data_df['Item ID'].unique())
unique_items

183

In [9]:
#average price
average_price= data_df['Price'].mean()
average_price

3.050987179487176

In [10]:
#number of purchase
number_of_purchases = data_df['Purchase ID'].count()
number_of_purchases

780

In [11]:
#total revenue
total_revenue = data_df['Price'].sum()
total_revenue

2379.77

In [12]:
#create a Data Frame for the purchasing analysis
purchasing_analysis = pd.DataFrame({"NUMBER OF UNIQUE ITEMS": unique_items,
                              "AVERAGE PRICE": [average_price],
                              "NUMBER OF PURCHASES": [number_of_purchases],
                              "TOTAL REVENUE": [total_revenue]})
purchasing_analysis['AVERAGE PRICE'] = purchasing_analysis["AVERAGE PRICE"].map("${:.2f}".format)

purchasing_analysis["TOTAL REVENUE"] = purchasing_analysis["TOTAL REVENUE"].map("${:}".format)

purchasing_analysis

   NUMBER OF UNIQUE ITEMS AVERAGE PRICE  NUMBER OF PURCHASES TOTAL REVENUE
0                     183         $3.05                  780      $2379.77

In [13]:
data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [14]:
#analyze the age demography
gender = data_df.loc[:, ['Gender', 'SN']]
gender

     Gender             SN
0      Male        Lisim78
1      Male    Lisovynya38
2      Male     Ithergue48
3      Male  Chamassasya86
4      Male      Iskosia90
..      ...            ...
775  Female     Aethedru70
776    Male         Iral74
777    Male     Yathecal72
778    Male        Sisur91
779    Male      Ennrian78

[780 rows x 2 columns]

In [15]:
gender_total = gender['Gender'].value_counts()
gender_total

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
#gender_percent = gender_total/total_player_df
Gender_df = pd.DataFrame(gender_total)
#Gender_df

In [17]:
#calculate it in percentage
gender_percent =  (gender_total/780) *100
gender_percent_df= pd.DataFrame(gender_percent)
#gender_percent_df

In [18]:
gender_demo = pd.DataFrame({
    'Total_cound': gender_total,
    'Total Percentage of prayers': gender_percent
})

In [19]:
gender_demo

                       Total_cound  Total Percentage of prayers
Male                           652                    83.589744
Female                         113                    14.487179
Other / Non-Disclosed           15                     1.923077

In [20]:
#fixing the percentage using map
gender_demo['Total Percentage of prayers']=gender_demo['Total Percentage of prayers'].\
map("{:.2f}".format)
gender_demo

                       Total_cound Total Percentage of prayers
Male                           652                       83.59
Female                         113                       14.49
Other / Non-Disclosed           15                        1.92

# puchasing Analysis Gender

In [21]:
gender_analysis = data_df.groupby(['Gender']).count()['Price'].rename('Purchase Count')
gender_average_price = data_df.groupby(['Gender']).mean()["Price"].rename("AVERAGE PURCHASE PRICE")
gender_total_purchase = data_df.groupby(["Gender"]).sum()["Price"].rename("TOTAL PURCHASE VALUE")
avg_totalpurchase_perperson = gender_total_purchase / gender_total

In [22]:
gender_purchasing_analysis = pd.DataFrame({"PURCHASE COUNT": gender_analysis,
                              "AVERAGE PURCHASE PRICE": gender_average_price,
                              "TOTAL PURCHASE VALUE": gender_total_purchase,
                              "AVG TOTAL PURCHASE PER PERSON": avg_totalpurchase_perperson})

In [23]:
gender_purchasing_analysis

,PURCHASE COUNT,AVERAGE PURCHASE PRICE,TOTAL PURCHASE VALUE,AVG TOTAL PURCHASE PER PERSON
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [24]:
gender_purchasing_analysis['AVERAGE PURCHASE PRICE']=gender_purchasing_analysis['AVERAGE PURCHASE PRICE'].\
map("${:.2f}".format)
gender_purchasing_analysis['TOTAL PURCHASE VALUE']=gender_purchasing_analysis['TOTAL PURCHASE VALUE'].\
map('${:.2f}'.format)

gender_purchasing_analysis['AVG TOTAL PURCHASE PER PERSON']=gender_purchasing_analysis['AVG TOTAL PURCHASE PER PERSON'].\
map('${:.2f}'.format)

In [25]:
gender_purchasing_analysis

,PURCHASE COUNT,AVERAGE PURCHASE PRICE,TOTAL PURCHASE VALUE,AVG TOTAL PURCHASE PER PERSON
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

# Age Demogrpahy

In [35]:
#create bins for ages
age_players=data_df.loc[:,['Age', 'SN']]
#drop any duplicates
age_players= age_players.drop_duplicates()
age_players#.head()

     Age             SN
0     20        Lisim78
1     40    Lisovynya38
2     24     Ithergue48
3     24  Chamassasya86
4     23      Iskosia90
..   ...            ...
773   21         Hala31
774   11     Jiskjask80
775   21     Aethedru70
777   20     Yathecal72
778    7        Sisur91

[576 rows x 2 columns]

In [37]:
#count the aged players
age_existing_players = age_players['Age'].value_counts()
#age_existing_players

In [70]:
bins_age=[0,9,14,19,24,29,34,39,100]
labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+44"]
age_data=pd.cut(age_players['Age'], bins_age, labels=labels).value_counts()
age_data

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
+44       12
Name: Age, dtype: int64

In [71]:
#calculate the aged percent
#age_percent = (age_data/total_player_df) *100
age_percent

   +44  10-14  15-19  20-24  25-29  30-34  35-39  <10  Total Players
0  NaN    NaN    NaN    NaN    NaN    NaN    NaN  NaN            NaN

In [68]:
age_demography = pd.DataFrame({'Total Count':age_data,
                               'percentage of players':age_percent
                              })

ValueError: Shape of passed values is (9, 2), indices imply (8, 2)